.root {
  margin-top:3rem
}

.mainAbout {
  display: grid;
  grid-template-columns: 1fr;
}

.aboutContent {
  margin-bottom: 3rem;
  padding: 1rem;
}

.container {
  width: 60%;
  margin: auto;
}

.container h1 {
  font-weight: 400;
  margin-bottom: -0.7rem;
}

.container p {
  font-size: 18px;
  line-height: normal;
  padding-bottom: 0.8rem;
}

.pictures {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

/* @media (min-width: 1300px) {
  .aboutContent {
    width: 100vw;
    height: 50vh;
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .aboutContent {
    width: 100vw;
    height: 100vh;
    margin-bottom: 1rem;
  }
}

@media (max-width: 412px) {
  .aboutContent {
    width: 100vw;
    height: 100vh;
    margin-bottom: 1rem;
  }
}

@media (max-width: 320px) {
  .aboutContent {
    width: 100vw;
    height: 130vh;
    margin-bottom: 1rem;
  }
} */