.main {
  min-width: 100%;
  background-color: #3F51B5;
  margin: 0px 0px;
  padding: 1rem;
  padding-bottom: 0.3rem;
  color: #fff;
  bottom: 0px;
  left: 0px;
}

.content {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  margin: 0px auto;
  width: 80%
}

.progress p {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  padding: 0.6rem;
  margin: 0px;
}

.right, .left {
  justify-self: center;
  cursor: pointer;
}

.right:hover, .left:hover {
  opacity: 0.5rem
}