.dashboard {
  color: white;
  font-family: 'Roboto';
  background-image: url("../public/rsz_1dark_backgound.jpg");
  width: 100%;
  padding: 1rem 0px;
  background-repeat: none;
  background-size: cover;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 5fr; 
}

.backgroundPicture {
  background: black;
  z-index: 10;
}

.progress {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.progress h3 {
  font-weight: 400;
}

.profileName {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1.5rem;
}