.blueTableData {
	display: grid;
	/* grid-template-columns: repeat(7, 1fr); */
	background-color: #c9c9fa;
	padding: 0.4rem;
	border: 1px solid #e2e2e2;
	border-radius: 6px;
	text-align: center;
}

.spanElement {
	border: 1px solid #e2e2e2;
	border-collapse: collapse;
	padding: 0.4rem;
}

.displayTable {
	margin: auto;
	max-width: 40%;
}

.breadcrumbStyle ol {
	display: flex;
	justify-content: center;
}
