.footer {
  color: white;  
  height: 40vh;
  background: #408CFF;
  bottom: 0;
}

.footerHeader {
  text-align: center;
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  justify-content: center;
  margin: 0px auto;
}

.footerHeader span {
  padding: 0px 0.7rem;
  font-size: 21px;
  font-weight: 400;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  margin-left: 7rem;
}

.footerDesc {
  width: 60%;
}

.links > ul {
  list-style-type: none;
}

.links li {
  padding-bottom: 0.4rem;
}

.identityGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  text-align: center;
  margin-top: 0.4rem;
}

.identityGrid span {
  margin-right: 0.3rem;
}

.identityGrid div {
  height: 1.5rem;
}

#copyright {
  text-align: left !important;
  color: red;
  align-items: flex-start;
}

.identity {
  font-size: 18px;
  height: 3rem;
  justify-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .footer {
    height: 60vh;
    margin-top: -4rem;
  }

  .grid {
  grid-template-columns: 1fr;
  }

  .links li{
    padding-bottom: 0.7rem;
    cursor: pointer
  }

  .links {
    margin-left: -2.5rem;
  }
    .footerDesc {
    width: 100%;
  }
}

@media (min-width: 1300px) {
  .footer {
      width: 120vw ;
  }
}

@media (max-width: 769px) {
  .footer {
      width: 120%;
  }
}

@media (max-width: 320px) {
  .footer {
      width: 120vw !important;
      margin-top: 60rem !important;   
      height: 70vh;
  }
}

@media (max-width: 360px) {
  .footer {
      width: 100%;
      margin-top: 32rem !important;   
      height: 55vh;
  }
}

@media (max-width: 412px) {
  .footer {
      width: 100vw;
      height: 60vh;
      margin-top: 24rem  ;
  }
}

@media (max-height: 825px) {
  .footer {
      width: 100vw;
      margin-top: 12rem;   
      height: 50vh;
  }
}

@media (max-height: 768px) {
  .footer {
      width: 100vw;
      margin-top: 16rem;   
      height: 40vh;
  }
}

@media (max-height: 700px) {
  .footer {
      width: 100vw;
      margin-top: 20rem;   
      height: 50vh;
  }
}

@media (min-height: 1024px) {
  .footer {
      width: 100vw;
      margin-top: -14rem;   
      height: 60vh;
  }
}

@media (max-height: 600px) {
  .footer {
      width: 100vw;
      margin-top: 32rem;   
      height: 70vh;
  }
}