
.navbar {
  height: 3.5rem;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #408cff;
  font-family: 'Roboto';
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 3rem;
  font-weight: lighter;
  font-size: 19px;
  cursor: pointer;
}

.logo > span {
  margin-left: .7rem
}

.links {
  margin-right: 4rem;
} 

.links > ul {
  list-style-type: none;
  display: flex;
}

.links > ul > li {
  justify-content: center;
  justify-items: flex-start;
  margin-right: -2rem
}

.links a {
  padding: 1rem 1rem;
}