.navbar {
	height: 3.5rem;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #3f51b5;
}

.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-left: 3rem;
	font-weight: lighter;
	font-size: 19px;
	cursor: pointer;
}

.logo > span {
	margin-left: 0.7rem;
}

.links {
	margin-right: 4rem;
}

.links > ul {
	list-style-type: none;
	display: flex;
}

.links > ul > li {
	justify-content: center;
	justify-items: flex-start;
	padding: 1rem 0;
	border-radius: 4px;
}

.links > ul > li :hover {
	background-color: #d4d7e7;
	color: #3f51b5;
	font-weight: 600;
	border-radius: 4px;
}

.links a {
	padding: 1rem;
	margin: 0 auto;
}

@media (max-width: 600px) {
	.links > ul > li :last-child a {
		margin-right: -0.7rem;
	}

	.logo {
		margin-left: 1rem;
	}

	.links {
		margin-right: 2rem;
		padding: 1rem 0.6rem;
	}

	.links a {
		padding: 1rem 0.4rem;
	}
}
