.mainProgress {
  color: #474747;
  display: grid;
  grid-template-columns: 1fr;
}

.container {
  width: 80%;
  margin: 2rem auto;
  padding: 2rem 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.progresses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0px 0.7rem;
  justify-content: space-evenly;
}

@media (max-width: 600px) {
  .progresses {
    grid-template-columns: 1fr;
  }
}