.main {
	border: 1px solid #4444;
	border-radius: 6px;
	font-size: 16px;
	margin: 1rem;
}

.header {
	text-align: center;
	font-weight: 600;
	padding: 0.6rem;
}

.instruction,
.questions {
	font-weight: 400;
	padding: 0.6rem 2rem;
	text-align: justify;
}

.questions {
	margin: 0 auto;
	padding: 0.6rem 2rem;
	text-align: justify;
	width: 80%;
	list-style-type: none;
}

.questions h3 {
	font-weight: 400;
}

.choices {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	justify-content: center;
}

.answer {
	margin: 1rem;
	padding: 1rem 1.5rem;
	background-color: #408cff;
	opacity: 1;
	border-radius: 6%;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	border: none;
	color: white;
}

.answer:hover {
	opacity: 0.9;
	cursor: pointer;
}

.dataDisplay {
	overflow: auto;
	margin: auto;
	width: 90%;
	height: 90%;
	padding: 0.6rem;
}

.error {
	text-align: center;
	font-weight: 400;
	color: red;
}

.success {
	text-align: center;
	font-weight: 400;
	color: green;
}
