.mainRemainingTime {
	margin: auto;
	padding: 1rem;
	display: grid;
	grid-template-columns: 4fr 5fr 1fr;
	align-items: center;
	border-radius: 6px;
	place-items: center;
	min-width: 90%;
	padding-bottom: 0;
}
.mainTimeout {
	margin: auto;
	padding: 1rem;
	display: block;
	align-items: center;
	border-radius: 6px;
	place-items: center;
	min-width: 90%;
	padding-bottom: 0;
}

@media (max-width: 768px) {
	.mainRemainingTime {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
}

.question {
	font-size: 14px;
	font-weight: 400;
	text-align: left;
	margin-bottom: 1rem;
}

.answers {
	display: flex;
	flex-direction: column;
}

.answerButton {
	padding: 1rem;
	background-color: #2b4bffe5;
	text-align: center;
	border: none;
	color: #eeeeee;
	border-radius: 4px;
	margin: 1rem auto;
	width: 80%;
	cursor: pointer;
}

.selectedAnswer {
	padding: 1rem;
	background-color: #e3e7fc8c;
	text-align: center;
	border: 2px solid #2d4ff88c;
	border-radius: 4px;
	margin: 1rem auto;
	width: 80%;
	cursor: pointer;
}

.submitButton {
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
}

.addClass {
	text-align: center;
	border: none;
	background-color: #253ab38c;
	margin: 1rem auto;
	padding: 0.2rem;
	border-radius: 8px;
	width: 6rem;
	cursor: pointer;
	color: #2b2b2b;
}

.addClass:hover {
	box-shadow: 2px 3px 28px -11px rgba(0, 0, 0, 0.77);
	-webkit-box-shadow: 2px 3px 28px -11px rgba(0, 0, 0, 0.77);
	-moz-box-shadow: 2px 3px 28px -11px rgba(0, 0, 0, 0.77);
}

.answerButton:hover {
	background-color: #ccd4ffb4;
	color: #2d4ff8;
}
