/* ============================GLOBAL============================== */
.contentWrap {
  color: 0000;
  font-size: 28px;
  text-align: center;
  max-width: 90%;
}
/* ============================GLOBAL============================== */


/* =========================SECTION A============================= */
section.billBoard {
  width: 100%;
  height: 60vh;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  text-align: center;
  /* background-image: url("../public/rsz_1statistics.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: rgb(0, 0, 0);
  opacity: 0.9;
  margin-top: 0;
}

section.billBoard > .bgImage {
  position: absolute;
  width: 100%;
  height: inherit;
  margin-top: 0;
  opacity: 0.5;
  color: red;
      background: url("../public/rsz_1statistics.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10;
}

section.billBoard h1 {
  margin-top: -20px;
  font-weight: 400;
}

section.billBoard > .startButton {
  margin-top: 2rem;
  background-color: #418cfd;
  width: 5.5rem;
  height: 2.5rem;
  cursor: pointer;
  color: #fff;
  border:none;
  border-radius: 6px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.startButton:hover {
  opacity: 0.80
}

/* =========================SECTION A============================= */

/* =========================SECTION B============================= */

.sectionB > .contentWrap {
  margin: 3rem auto;
}

.sectionB > .contentWrap > h1 {
  font-weight: 400;
}

.sectionB > .contentWrap ul {
  margin-left: 0px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around
}

.sectionB > .contentWrap li {
  max-width: 90%
}

.sectionB > .contentWrap h3 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 0px;
  margin-top: 0.2rem;
}

.sectionB > .contentWrap p, .sectionC > .contentWrap p {
  font-size: 18px;
  margin-top: 0px;
  padding-bottom: 2rem;
}

.sectionB > .contentWrap li > span {
  margin-bottom: 0px;
}

/* =========================SECTION B============================= */

/* =========================SECTION C============================= */
.sectionC {
  background-color: #8f8e8e;
  width: 100%;
  height: 50vh;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 36px;
  text-align: center;
  color: #fff;
  padding: 0px 5rem 0px 0rem;
}

.sectionC > .contentWrap > h1, .sectionC > .contentWrap h3 {
  font-weight: 400;
  margin-left: 2rem;
}

.sectionC > .contentWrap h3 {
  margin-top: 0px;
  margin-right: -2rem
}

.sectionC .gridKD li {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-left: -6rem;
  align-items: flex-start;
  justify-items: center;
}


/* =========================SECTION C============================= */

/* =========================MEDIA QUERY============================= */

@media (max-width: 768px) {
  .sectionB > .contentWrap ul {
   grid-template-columns: 1fr;
  }

  .sectionC {
    padding: 0px;
    height: 65vh
  }

  .sectionC .gridKD li {
    margin-left: -2rem;
    align-items: center;
  }

.sectionC > .contentWrap h3 {
    margin-right: 0rem
  }

.sectionC > .contentWrap p {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-size: 17px;
    line-height: normal;
  }  
}
/* =========================MEDIA QUERY============================= */
