/* Custom Select */
.select {
	display: flex;
	width: 20em;
	height: 3em;
	line-height: 3;
	background: #5c7a97;
	overflow: hidden;
	border-radius: 0.25em;
	padding: 0 0.5em;
	color: rgb(255, 255, 255);
	cursor: pointer;
	text-align: center;
}
/* Arrow */
.select::after {
	content: "\25BC";
	top: 0;
	right: 0;
	padding: 0 1em;
	background: #c8c8cace;
	cursor: pointer;
	pointer-events: none;
}

.dropdown {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto auto;
}
