.mother {
	border: 1px #cdcdcd solid;
	border-radius: 6px;
	padding: 1.5rem;
	/* max-width: 55%; */
	align-self: center;
}

.mother h4 {
	font-size: large;
	font-weight: 400;
	color: #444;
	text-align: justify;
}

.mother h1 {
	font-size: large;
	font-weight: 600;
	color: #444;
	text-align: center;
}

.data {
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}

@media (max-width: 600px) {
	.mother h4 {
		text-align: center;
	}
}
